<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Banco 24h</title>
</head>
<body>
<form action="/conta/save" method="post">
    <div class="container">
        <h1>Register</h1>
        <p>Crie uma nova conta no banco.</p>
        <hr>

        <label for="saldo">
            <b>Saldo da conta</b>
        </label>
        <input type="text" placeholder="Enter Username" name="saldo" id="saldo" required>

        <button type="submit" class="registerbtn">Criar Conta Correte</button>
    </div>

</form>
</body>
</html>